<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LeanderAudioConverter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <LeanderAudioConverter.Properties.Settings>
            <setting name="inputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="outputPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ffmpegPath" serializeAs="String">
                <value />
            </setting>
            <setting name="inputFormatIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="outputFormatIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </LeanderAudioConverter.Properties.Settings>
    </userSettings>
</configuration>